TR{font-family: Arial, Helvetica,Times, Helvetica, sans-serif; font-size: 10pt; font-style: normal  ; padding:0 0}
TR.firstline{color: #FFFFFF; background: #000000;text-align:center;font-weight: bold}

TR.ListBackTitle{color: #FFFFFF; background: #000000;text-align:left;font-weight: bold}



TD{background:#FFFFFF; padding:0 }
TD.ListBackMain{background: #E0E0E0; padding:0 }
TD.firstcolumn{padding:5px ;background:#C0C0C0;text-align:left}
TD.cellinside{padding:5px ;background:#FFFFFF;text-align:center}



