<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
<title>Progression Summaries Demo. ADNIMERGE 0.0.1</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="Alzheimer's Disease Neuroimaging Initiative">

<link href="css/MyR2HTML.css" rel="stylesheet">
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/bootstrap-responsive.css" rel="stylesheet">
<link href="css/highlight.css" rel="stylesheet">
<link href="css/staticdocs.css" rel="stylesheet">

<!-- Styles for R syntax highlighter -->
<style type="text/css">
   pre .operator,
   pre .paren {
     color: rgb(104, 118, 135)
   }

   pre .literal {
     color: rgb(88, 72, 246)
   }

   pre .number {
     color: rgb(0, 0, 205);
   }

   pre .comment {
     color: rgb(76, 136, 107);
   }

   pre .keyword {
     color: rgb(0, 0, 255);
   }

   pre .identifier {
     color: rgb(0, 0, 0);
   }

   pre .string {
     color: rgb(3, 106, 7);
   }
</style>

<!-- R syntax highlighter -->
<script type="text/javascript">
var hljs=new function(){function m(p){return p.replace(/&/gm,"&amp;").replace(/</gm,"&lt;")}function f(r,q,p){return RegExp(q,"m"+(r.cI?"i":"")+(p?"g":""))}function b(r){for(var p=0;p<r.childNodes.length;p++){var q=r.childNodes[p];if(q.nodeName=="CODE"){return q}if(!(q.nodeType==3&&q.nodeValue.match(/\s+/))){break}}}function h(t,s){var p="";for(var r=0;r<t.childNodes.length;r++){if(t.childNodes[r].nodeType==3){var q=t.childNodes[r].nodeValue;if(s){q=q.replace(/\n/g,"")}p+=q}else{if(t.childNodes[r].nodeName=="BR"){p+="\n"}else{p+=h(t.childNodes[r])}}}if(/MSIE [678]/.test(navigator.userAgent)){p=p.replace(/\r/g,"\n")}return p}function a(s){var r=s.className.split(/\s+/);r=r.concat(s.parentNode.className.split(/\s+/));for(var q=0;q<r.length;q++){var p=r[q].replace(/^language-/,"");if(e[p]){return p}}}function c(q){var p=[];(function(s,t){for(var r=0;r<s.childNodes.length;r++){if(s.childNodes[r].nodeType==3){t+=s.childNodes[r].nodeValue.length}else{if(s.childNodes[r].nodeName=="BR"){t+=1}else{if(s.childNodes[r].nodeType==1){p.push({event:"start",offset:t,node:s.childNodes[r]});t=arguments.callee(s.childNodes[r],t);p.push({event:"stop",offset:t,node:s.childNodes[r]})}}}}return t})(q,0);return p}function k(y,w,x){var q=0;var z="";var s=[];function u(){if(y.length&&w.length){if(y[0].offset!=w[0].offset){return(y[0].offset<w[0].offset)?y:w}else{return w[0].event=="start"?y:w}}else{return y.length?y:w}}function t(D){var A="<"+D.nodeName.toLowerCase();for(var B=0;B<D.attributes.length;B++){var C=D.attributes[B];A+=" "+C.nodeName.toLowerCase();if(C.value!==undefined&&C.value!==false&&C.value!==null){A+='="'+m(C.value)+'"'}}return A+">"}while(y.length||w.length){var v=u().splice(0,1)[0];z+=m(x.substr(q,v.offset-q));q=v.offset;if(v.event=="start"){z+=t(v.node);s.push(v.node)}else{if(v.event=="stop"){var p,r=s.length;do{r--;p=s[r];z+=("</"+p.nodeName.toLowerCase()+">")}while(p!=v.node);s.splice(r,1);while(r<s.length){z+=t(s[r]);r++}}}}return z+m(x.substr(q))}function j(){function q(x,y,v){if(x.compiled){return}var u;var s=[];if(x.k){x.lR=f(y,x.l||hljs.IR,true);for(var w in x.k){if(!x.k.hasOwnProperty(w)){continue}if(x.k[w] instanceof Object){u=x.k[w]}else{u=x.k;w="keyword"}for(var r in u){if(!u.hasOwnProperty(r)){continue}x.k[r]=[w,u[r]];s.push(r)}}}if(!v){if(x.bWK){x.b="\\b("+s.join("|")+")\\s"}x.bR=f(y,x.b?x.b:"\\B|\\b");if(!x.e&&!x.eW){x.e="\\B|\\b"}if(x.e){x.eR=f(y,x.e)}}if(x.i){x.iR=f(y,x.i)}if(x.r===undefined){x.r=1}if(!x.c){x.c=[]}x.compiled=true;for(var t=0;t<x.c.length;t++){if(x.c[t]=="self"){x.c[t]=x}q(x.c[t],y,false)}if(x.starts){q(x.starts,y,false)}}for(var p in e){if(!e.hasOwnProperty(p)){continue}q(e[p].dM,e[p],true)}}function d(B,C){if(!j.called){j();j.called=true}function q(r,M){for(var L=0;L<M.c.length;L++){if((M.c[L].bR.exec(r)||[null])[0]==r){return M.c[L]}}}function v(L,r){if(D[L].e&&D[L].eR.test(r)){return 1}if(D[L].eW){var M=v(L-1,r);return M?M+1:0}return 0}function w(r,L){return L.i&&L.iR.test(r)}function K(N,O){var M=[];for(var L=0;L<N.c.length;L++){M.push(N.c[L].b)}var r=D.length-1;do{if(D[r].e){M.push(D[r].e)}r--}while(D[r+1].eW);if(N.i){M.push(N.i)}return f(O,M.join("|"),true)}function p(M,L){var N=D[D.length-1];if(!N.t){N.t=K(N,E)}N.t.lastIndex=L;var r=N.t.exec(M);return r?[M.substr(L,r.index-L),r[0],false]:[M.substr(L),"",true]}function z(N,r){var L=E.cI?r[0].toLowerCase():r[0];var M=N.k[L];if(M&&M instanceof Array){return M}return false}function F(L,P){L=m(L);if(!P.k){return L}var r="";var O=0;P.lR.lastIndex=0;var M=P.lR.exec(L);while(M){r+=L.substr(O,M.index-O);var N=z(P,M);if(N){x+=N[1];r+='<span class="'+N[0]+'">'+M[0]+"</span>"}else{r+=M[0]}O=P.lR.lastIndex;M=P.lR.exec(L)}return r+L.substr(O,L.length-O)}function J(L,M){if(M.sL&&e[M.sL]){var r=d(M.sL,L);x+=r.keyword_count;return r.value}else{return F(L,M)}}function I(M,r){var L=M.cN?'<span class="'+M.cN+'">':"";if(M.rB){y+=L;M.buffer=""}else{if(M.eB){y+=m(r)+L;M.buffer=""}else{y+=L;M.buffer=r}}D.push(M);A+=M.r}function G(N,M,Q){var R=D[D.length-1];if(Q){y+=J(R.buffer+N,R);return false}var P=q(M,R);if(P){y+=J(R.buffer+N,R);I(P,M);return P.rB}var L=v(D.length-1,M);if(L){var O=R.cN?"</span>":"";if(R.rE){y+=J(R.buffer+N,R)+O}else{if(R.eE){y+=J(R.buffer+N,R)+O+m(M)}else{y+=J(R.buffer+N+M,R)+O}}while(L>1){O=D[D.length-2].cN?"</span>":"";y+=O;L--;D.length--}var r=D[D.length-1];D.length--;D[D.length-1].buffer="";if(r.starts){I(r.starts,"")}return R.rE}if(w(M,R)){throw"Illegal"}}var E=e[B];var D=[E.dM];var A=0;var x=0;var y="";try{var s,u=0;E.dM.buffer="";do{s=p(C,u);var t=G(s[0],s[1],s[2]);u+=s[0].length;if(!t){u+=s[1].length}}while(!s[2]);if(D.length>1){throw"Illegal"}return{r:A,keyword_count:x,value:y}}catch(H){if(H=="Illegal"){return{r:0,keyword_count:0,value:m(C)}}else{throw H}}}function g(t){var p={keyword_count:0,r:0,value:m(t)};var r=p;for(var q in e){if(!e.hasOwnProperty(q)){continue}var s=d(q,t);s.language=q;if(s.keyword_count+s.r>r.keyword_count+r.r){r=s}if(s.keyword_count+s.r>p.keyword_count+p.r){r=p;p=s}}if(r.language){p.second_best=r}return p}function i(r,q,p){if(q){r=r.replace(/^((<[^>]+>|\t)+)/gm,function(t,w,v,u){return w.replace(/\t/g,q)})}if(p){r=r.replace(/\n/g,"<br>")}return r}function n(t,w,r){var x=h(t,r);var v=a(t);var y,s;if(v){y=d(v,x)}else{return}var q=c(t);if(q.length){s=document.createElement("pre");s.innerHTML=y.value;y.value=k(q,c(s),x)}y.value=i(y.value,w,r);var u=t.className;if(!u.match("(\\s|^)(language-)?"+v+"(\\s|$)")){u=u?(u+" "+v):v}if(/MSIE [678]/.test(navigator.userAgent)&&t.tagName=="CODE"&&t.parentNode.tagName=="PRE"){s=t.parentNode;var p=document.createElement("div");p.innerHTML="<pre><code>"+y.value+"</code></pre>";t=p.firstChild.firstChild;p.firstChild.cN=s.cN;s.parentNode.replaceChild(p.firstChild,s)}else{t.innerHTML=y.value}t.className=u;t.result={language:v,kw:y.keyword_count,re:y.r};if(y.second_best){t.second_best={language:y.second_best.language,kw:y.second_best.keyword_count,re:y.second_best.r}}}function o(){if(o.called){return}o.called=true;var r=document.getElementsByTagName("pre");for(var p=0;p<r.length;p++){var q=b(r[p]);if(q){n(q,hljs.tabReplace)}}}function l(){if(window.addEventListener){window.addEventListener("DOMContentLoaded",o,false);window.addEventListener("load",o,false)}else{if(window.attachEvent){window.attachEvent("onload",o)}else{window.onload=o}}}var e={};this.LANGUAGES=e;this.highlight=d;this.highlightAuto=g;this.fixMarkup=i;this.highlightBlock=n;this.initHighlighting=o;this.initHighlightingOnLoad=l;this.IR="[a-zA-Z][a-zA-Z0-9_]*";this.UIR="[a-zA-Z_][a-zA-Z0-9_]*";this.NR="\\b\\d+(\\.\\d+)?";this.CNR="\\b(0[xX][a-fA-F0-9]+|(\\d+(\\.\\d*)?|\\.\\d+)([eE][-+]?\\d+)?)";this.BNR="\\b(0b[01]+)";this.RSR="!|!=|!==|%|%=|&|&&|&=|\\*|\\*=|\\+|\\+=|,|\\.|-|-=|/|/=|:|;|<|<<|<<=|<=|=|==|===|>|>=|>>|>>=|>>>|>>>=|\\?|\\[|\\{|\\(|\\^|\\^=|\\||\\|=|\\|\\||~";this.ER="(?![\\s\\S])";this.BE={b:"\\\\.",r:0};this.ASM={cN:"string",b:"'",e:"'",i:"\\n",c:[this.BE],r:0};this.QSM={cN:"string",b:'"',e:'"',i:"\\n",c:[this.BE],r:0};this.CLCM={cN:"comment",b:"//",e:"$"};this.CBLCLM={cN:"comment",b:"/\\*",e:"\\*/"};this.HCM={cN:"comment",b:"#",e:"$"};this.NM={cN:"number",b:this.NR,r:0};this.CNM={cN:"number",b:this.CNR,r:0};this.BNM={cN:"number",b:this.BNR,r:0};this.inherit=function(r,s){var p={};for(var q in r){p[q]=r[q]}if(s){for(var q in s){p[q]=s[q]}}return p}}();hljs.LANGUAGES.cpp=function(){var a={keyword:{"false":1,"int":1,"float":1,"while":1,"private":1,"char":1,"catch":1,"export":1,virtual:1,operator:2,sizeof:2,dynamic_cast:2,typedef:2,const_cast:2,"const":1,struct:1,"for":1,static_cast:2,union:1,namespace:1,unsigned:1,"long":1,"throw":1,"volatile":2,"static":1,"protected":1,bool:1,template:1,mutable:1,"if":1,"public":1,friend:2,"do":1,"return":1,"goto":1,auto:1,"void":2,"enum":1,"else":1,"break":1,"new":1,extern:1,using:1,"true":1,"class":1,asm:1,"case":1,typeid:1,"short":1,reinterpret_cast:2,"default":1,"double":1,register:1,explicit:1,signed:1,typename:1,"try":1,"this":1,"switch":1,"continue":1,wchar_t:1,inline:1,"delete":1,alignof:1,char16_t:1,char32_t:1,constexpr:1,decltype:1,noexcept:1,nullptr:1,static_assert:1,thread_local:1,restrict:1,_Bool:1,complex:1},built_in:{std:1,string:1,cin:1,cout:1,cerr:1,clog:1,stringstream:1,istringstream:1,ostringstream:1,auto_ptr:1,deque:1,list:1,queue:1,stack:1,vector:1,map:1,set:1,bitset:1,multiset:1,multimap:1,unordered_set:1,unordered_map:1,unordered_multiset:1,unordered_multimap:1,array:1,shared_ptr:1}};return{dM:{k:a,i:"</",c:[hljs.CLCM,hljs.CBLCLM,hljs.QSM,{cN:"string",b:"'\\\\?.",e:"'",i:"."},{cN:"number",b:"\\b(\\d+(\\.\\d*)?|\\.\\d+)(u|U|l|L|ul|UL|f|F)"},hljs.CNM,{cN:"preprocessor",b:"#",e:"$"},{cN:"stl_container",b:"\\b(deque|list|queue|stack|vector|map|set|bitset|multiset|multimap|unordered_map|unordered_set|unordered_multiset|unordered_multimap|array)\\s*<",e:">",k:a,r:10,c:["self"]}]}}}();hljs.LANGUAGES.r={dM:{c:[hljs.HCM,{cN:"number",b:"\\b0[xX][0-9a-fA-F]+[Li]?\\b",e:hljs.IMMEDIATE_RE,r:0},{cN:"number",b:"\\b\\d+(?:[eE][+\\-]?\\d*)?L\\b",e:hljs.IMMEDIATE_RE,r:0},{cN:"number",b:"\\b\\d+\\.(?!\\d)(?:i\\b)?",e:hljs.IMMEDIATE_RE,r:1},{cN:"number",b:"\\b\\d+(?:\\.\\d*)?(?:[eE][+\\-]?\\d*)?i?\\b",e:hljs.IMMEDIATE_RE,r:0},{cN:"number",b:"\\.\\d+(?:[eE][+\\-]?\\d*)?i?\\b",e:hljs.IMMEDIATE_RE,r:1},{cN:"keyword",b:"(?:tryCatch|library|setGeneric|setGroupGeneric)\\b",e:hljs.IMMEDIATE_RE,r:10},{cN:"keyword",b:"\\.\\.\\.",e:hljs.IMMEDIATE_RE,r:10},{cN:"keyword",b:"\\.\\.\\d+(?![\\w.])",e:hljs.IMMEDIATE_RE,r:10},{cN:"keyword",b:"\\b(?:function)",e:hljs.IMMEDIATE_RE,r:2},{cN:"keyword",b:"(?:if|in|break|next|repeat|else|for|return|switch|while|try|stop|warning|require|attach|detach|source|setMethod|setClass)\\b",e:hljs.IMMEDIATE_RE,r:1},{cN:"literal",b:"(?:NA|NA_integer_|NA_real_|NA_character_|NA_complex_)\\b",e:hljs.IMMEDIATE_RE,r:10},{cN:"literal",b:"(?:NULL|TRUE|FALSE|T|F|Inf|NaN)\\b",e:hljs.IMMEDIATE_RE,r:1},{cN:"identifier",b:"[a-zA-Z.][a-zA-Z0-9._]*\\b",e:hljs.IMMEDIATE_RE,r:0},{cN:"operator",b:"<\\-(?!\\s*\\d)",e:hljs.IMMEDIATE_RE,r:2},{cN:"operator",b:"\\->|<\\-",e:hljs.IMMEDIATE_RE,r:1},{cN:"operator",b:"%%|~",e:hljs.IMMEDIATE_RE},{cN:"operator",b:">=|<=|==|!=|\\|\\||&&|=|\\+|\\-|\\*|/|\\^|>|<|!|&|\\||\\$|:",e:hljs.IMMEDIATE_RE,r:0},{cN:"operator",b:"%",e:"%",i:"\\n",r:1},{cN:"identifier",b:"`",e:"`",r:0},{cN:"string",b:'"',e:'"',c:[hljs.BE],r:0},{cN:"string",b:"'",e:"'",c:[hljs.BE],r:0},{cN:"paren",b:"[[({\\])}]",e:hljs.IMMEDIATE_RE,r:0}]}};
hljs.initHighlightingOnLoad();
</script>

<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>

<body>

<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">ADNIMERGE 0.0.1</a>
      <div class="nav">
        <ul class="nav">
          <li><a href="index.html"><i class="icon-home icon-white"></i> Index</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <header>
    
  </header>
  
<h1>ADNI progression summaries using the ADNIMERGE R package</h1>

<div class="row">
  <div class="span8">
        
    <div class="Description">
      <h2>Description</h2>
      
      <p>This package vignette demonstrates how to use the <a href = "index.html"><code>ADNIMERGE</code></a> package to generate progression summaries and plots with <a href = "http://www.r-project.org/"><code>R</code></a> and <a href = "http://yihui.name/knitr/"><code>knitr</code></a>. </p>
      
      <p>Report generated <!--rinline format(Sys.Date(), "%A, %B %d, %Y") --> from <a href = "https://bitbucket.org/adni/adni.bitbucket.org/src"><code>Progresssion.Rhtml</code></a></p>
      
      <p>This report contains estimates of the ADNI conversion rates using a nonparametric multistate modeling approach [Nicole Ferguson, Somnath Datta, Guy Brock (2012). msSurv: An R Package for Nonparametric Estimation of Multistate Models. Journal of Statistical Software, 50(14), 1-24. <a href = 'http://www.jstatsoft.org/v50/i14/'>http://www.jstatsoft.org/v50/i14/</a>].</p>


      <p>This report does not consider transition to EMCI at any followup visits. The label LMCI, when applied at followup visits, actually refer to any MCI (EMCI or LMCI).</p>
      
      <p>Only subjects with at least one followup Diagnostic Summary are included in this report.</p>

    </div>
  </div>


<div class="Details">
  <div class="span4">
    <h2>Author</h2>
<p>Michael C. Donohue, Ph.D.</p>
<p><a href="mailto:adni-data@googlegroups.com">adni-data@googlegroups.com</a></p>
  </div>
</div>
</div>

<!--begin.rcode knitropts, results = 'hide', echo = FALSE, message = FALSE
opts_chunk$set(fig.path='figure/progression-', echo = TRUE, message = FALSE, warning = FALSE, fig.width=8, fig.height=8/1.6, out.width='600px', fig.align = 'center', tidy = TRUE, comment = NA, cache = FALSE, cache.path='cache/enrollment-', results = 'markup')
end.rcode-->

<h2>Load required R packages and functions</h2>

<!--begin.rcode loadpackages, results = 'hide', echo = TRUE
options(digits = 3)
library(ADNIMERGE)
library(Hmisc)
library(msSurv)
library(zoo)
library(ggplot2)
theme_set(theme_bw())
source("http://adni.bitbucket.org/myfunctions.R")
end.rcode-->

<!--begin.rcode data
mmse_bl <- mmse
mmse_bl$VISCODE <- with(mmse_bl, ifelse(VISCODE == "sc", "bl", VISCODE))
neurobat_bl <- subset(neurobat, VISCODE != "bl")
neurobat_bl$VISCODE <- with(neurobat_bl, ifelse(VISCODE == "sc", "bl", VISCODE))
cdr_bl <- cdr
cdr_bl$VISCODE <- with(cdr_bl, ifelse(VISCODE == "sc", "bl", VISCODE))
dd <- merge(dxsum[, c("RID", "COLPROT", "VISCODE", "DXCHANGE", 
  paste("DXMPTR", 1:6, sep = ""))], 
  mmse_bl[, c("RID", "COLPROT", "VISCODE", "MMSCORE")], 
  by = c("RID", "COLPROT", "VISCODE"), all = TRUE)
dd <- merge(dd, neurobat_bl[, c("RID", "COLPROT", "VISCODE", "LDELTOTAL")], 
  by = c("RID", "COLPROT", "VISCODE"), all = TRUE)
dd <- merge(dd, cdr_bl[, c("RID", "COLPROT", "VISCODE", "CDGLOBAL", "CDMEMORY")], 
  by = c("RID", "COLPROT", "VISCODE"), all = TRUE)
dd <- merge(dd, ecogpt[, c("RID", "COLPROT", "VISCODE", "CONCERN")], 
  by = c("RID", "COLPROT", "VISCODE"), all = TRUE)
dd <- merge(dd, registry[, c("RID", "COLPROT", "VISCODE", "EXAMDATE")], 
  by = c("RID", "COLPROT", "VISCODE"), all = TRUE)

dd <- merge(dd, subset(registry, VISCODE == "bl" & COLPROT == ORIGPROT, 
  c("RID", "COLPROT", "VISCODE", "EXAMDATE")), 
  by = "RID", all = TRUE, suffixes = c("", ".bl"))
dd <- merge(dd, subset(arm, COLPROT == ORIGPROT, c("RID", "DX")), 
  by = "RID", all = TRUE)
dd <- merge(dd, subset(ptdemog, VISCODE == "sc" & COLPROT == ORIGPROT, c("RID", "PTEDUCAT")), 
 by = "RID", all = TRUE)

COHORT <- unique(subset(registry, (RGCONDCT == 'Yes' | VISTYPE == "Standard") & VISCODE == 'bl')$RID)
dd <- subset(dd, RID %in% COHORT & !VISCODE %in% c("sc", "scmri") & !is.na(DXCHANGE))

dd$Year <- as.numeric(with(dd, EXAMDATE - EXAMDATE.bl)/365.25)

dd$Dx <- as.character(dd$DXCHANGE)
dd$Dx <- gsub("Stable: ", "", dd$Dx)
dd$Dx <- gsub("Conversion: ", "", dd$Dx)
dd$Dx <- gsub("Reversion: ", "", dd$Dx)
dd$Dx <- gsub("MCI to ", "", dd$Dx)
dd$Dx <- gsub("Dementia to ", "", dd$Dx)
dd$Dx <- gsub("NL to ", "", dd$Dx)

dd$Dx.sc <- gsub("AD", "Dementia", dd$DX)

dd$obj_memory_loss <- apply(dd[, c('PTEDUCAT', 'LDELTOTAL')], 1, obj_memory)
dd$subj_memory_comp <- with(dd, 
  DXMPTR1 == "Yes" | DXMPTR2 == "Yes" | CONCERN == "Yes" | Dx.sc == "EMCI")

dd <- subset(dd, !is.na(Year))
dd <- dd[order(dd$RID, dd$Year), ]
# LOCF for ojective memory complaint since Log Memory II not done at m06 and m18
for(rid in unique(dd$RID)){
  dd[dd$RID == rid, "obj_memory_loss"] <- 
    na.locf(dd[dd$RID == rid, "obj_memory_loss"], na.rm = FALSE)
  dd[dd$RID == rid, "obj_memory_loss"] <- 
    na.locf(dd[dd$RID == rid, "obj_memory_loss"], fromLast = TRUE, na.rm = FALSE)
}

# MMSCORE %in% 24:30 & subj_memory_comp & 
# CDGLOBAL == 0.5 & CDMEMORY >= 0.5
dd$Dx2 <- with(dd, 
  ifelse(Dx == "MCI" & 
  obj_memory_loss %in% c("EMCI", "NL"), "EMCI", Dx))
dd$Dx2 <- ifelse(is.na(dd$Dx2), dd$Dx, dd$Dx2)
dd$stage4 <- as.numeric(as.character(factor(dd$Dx2, 
  levels = c("NL", "EMCI", "MCI", "Dementia"),
  labels = 1:4)))
# Dx3, stage3: no EMCI allowed at followup
dd$Dx3 <- with(dd, ifelse(Year == 0, Dx2, Dx))
dd$stage3 <- as.numeric(as.character(factor(dd$Dx3, 
  levels = c("NL", "EMCI", "MCI", "Dementia"),
  labels = 1:4)))

# first to final transition (including transitions to EMCI)
dd_first_to_final_4 <- with(dd, make_first_to_final_trans(RID, stage4, Year))
dd_all_int_final_4 <- with(dd, make_all_intermediate_trans(RID, stage4, Year))

# first to final transition (excluding transitions to EMCI)
dd_first_to_final_3 <- with(dd, make_first_to_final_trans(RID, stage3, Year))
dd_all_int_final_3 <- with(dd, make_all_intermediate_trans(RID, stage3, Year))

# Nodes <- c("1", "2", "3", "4")
# Edges <- list("1" = list(edges = c("2", "3", "4")),
#               "2" = list(edges = c("1", "3", "4")),
#               "3" = list(edges = c("1", "2", "4")),
#               "4" = list(edges = c("3")))
# treeobj <- new("graphNEL", nodes = Nodes, edgeL = Edges,
#             edgemode = "directed")
# fit4 <- msSurv(dd_all_int_final_4, treeobj, bs = TRUE, LT = TRUE)

Nodes <- c("1", "2", "3", "4")
Edges <- list("1" = list(edges = c("3", "4")),
              "2" = list(edges = c("1", "3", "4")),
              "3" = list(edges = c("1", "4")),
              "4" = list(edges = c("3")))
treeobj <- new("graphNEL", nodes = Nodes, edgeL = Edges,
            edgemode = "directed")
fit3 <- msSurv(dd_all_int_final_3, treeobj, bs = TRUE, LT = TRUE)
end.rcode-->

<h2>Transition counts (all intermediate transitions)</h2>
<!--begin.rcode 
dd3 <- dd_all_int_final_3
dd3$end.stage <- with(dd3, ifelse(end.stage == 0, start.stage, end.stage))
dd3$start.stage <- factor(dd3$start.stage, levels = c(1:4), labels = c("NL", "EMCI", "LMCI", "AD"))
dd3$end.stage <- factor(dd3$end.stage, levels = c(1:4), labels = c("NL", "EMCI", "LMCI", "AD"))
addmargins(with(subset(dd3, end.stage != 0), table(start.stage, end.stage)))
end.rcode-->

<h2>Transition counts (first to last stage transitions)</h2>
<!--begin.rcode 
ddf <- dd_first_to_final_3
ddf$start.stage <- factor(ddf$start.stage, levels = c(1:4), labels = c("NL", "EMCI", "LMCI", "AD"))
ddf$end.stage <- factor(ddf$end.stage, levels = c(1:4), labels = c("NL", "EMCI", "LMCI", "AD"))
addmargins(with(ddf, table(start.stage, end.stage)))
end.rcode-->

<h2>Transition probabilities (%)</h2>
<!--begin.rcode results = 'hide'
dx <- c("NL", "EMCI", "LMCI", "AD")
tab1 <- Pst(fit3, s = 0, t = 1.1)
tab2 <- Pst(fit3, s = 0, t = 2.1)
tab3 <- Pst(fit3, s = 0, t = 3.1)
tab4 <- Pst(fit3, s = 0, t = 4.1)
end.rcode-->

<h3>Year 0 to 1</h3>
<!--begin.rcode 
dimnames(tab1$Pst) <- list(dx, dx)
addmargins(tab1$Pst * 100)
end.rcode-->

<h3>Year 0 to 2</h3>
<!--begin.rcode 
dimnames(tab2$Pst) <- list(dx, dx)
addmargins(tab2$Pst * 100)
end.rcode-->

<h3>Year 0 to 3</h3>
<!--begin.rcode 
dimnames(tab3$Pst) <- list(dx, dx)
addmargins(tab3$Pst * 100)
end.rcode-->

<h3>Year 0 to 4</h3>
<!--begin.rcode 
dimnames(tab4$Pst) <- list(dx, dx)
addmargins(tab4$Pst * 100)
end.rcode-->

<h2>Transition probability plots</h2>
<!--begin.rcode 
my_msSurv_plot(fit3, plot.type="transprob", trans=c("1 2", "1 3", "1 4")  , 
  state.names = c("NL", "EMCI", "LMCI", "AD"),
  timelab = "Year")
my_msSurv_plot(fit3, plot.type="transprob", trans=c("2 1", "2 3", "2 4")  , 
  state.names = c("NL", "EMCI", "LMCI", "AD"),
  timelab = "Year")
my_msSurv_plot(fit3, plot.type="transprob", trans=c("3 1", "3 2", "3 4")  , 
  state.names = c("NL", "EMCI", "LMCI", "AD"),
  timelab = "Year")
end.rcode-->

<h2>State occupation probabilities</h2>
<!--begin.rcode 
my_msSurv_plot(fit3, 
  state.names = c("NL", "EMCI", "LMCI", "AD"),
  timelab = "Year")
end.rcode-->

<h2>R Session Information</h2>
<!--begin.rcode results = "markup"
print(sessionInfo(), locale=FALSE)
end.rcode-->
      

 <div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'adnidocs'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a> 

 <div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'adnidocs'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a> 

 <div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'adnidocs'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a> 

 <div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'adnidocs'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a> 

 <div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'adnidocs'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a> 

 <div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'adnidocs'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a> 

 <div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'adnidocs'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a> 

 <div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'adnidocs'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a> 

 <div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'adnidocs'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a> 
<footer>
      <p class="pull-right"><a href="#">Back to top</a></p>
<p>Built by <a href="https://github.com/hadley/staticdocs">staticdocs</a>. Styled with <a href="http://twitter.github.com/bootstrap">bootstrap</a>.</p>
</footer>
</div>
</body>
</html>
